﻿@media screen and (max-width: 480px) {

    .header_right {
        display: none;
    }

    .main_left {
        display: none;
    }

    .main {
        flex: 3 0;
    }

    .main_right {
        display: none;
    }

    .footer {
        padding-top: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        align-self: flex-end;

    }

    .header_left {
        position: fixed;
        flex: 1 auto;
        left: 0;
        top: 0;
        background-color: white;
    }

     .header_left:before {
            content:'\2630'; 
            background-size: 100%;
            position: fixed;
            top:0;
            left: 0;
            width: 36px;
            height: 36px;    
            font-size: 36px;      
        }

    .header_left:focus .onclick-menu-content {
            background-color: white;
            display: flex;
            flex-direction:column;
            height:100%;
            width: 80%;
            background-color: white;
            position: fixed;
            padding-top: 0;
            margin-top:0;
            margin-left:0;
            padding-left: 0;
            padding: 0;
            top: 0;
            left: 0;
    }

     .header_left ul li{
        padding:  25px 0 0 0;       
    }

    .body{
            top: 0;
            left:0;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
         }

    .footer ul{
            padding: 0;
        }

    .onclick-menu-content {
        display: none;
    }

}




